<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proparty Rant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/js/jquery-3.2.1.min.js"></script>

    <script src="~/js/plugins/bootstrap-datepicker.min.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/plugins/bootstrap-datepicker.min.js"></script>

    <!-- Main CSS-->
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <partial name="_Header" />
    <!-- Sidebar menu-->
    <partial name="_Sidenav" />

    <main class="app-content">
        <div class="app-title">
            <!--<div>
                <h1><i class="fa fa-dashboard"></i> Blank Page</h1>
            </div>-->
            <ul class="app-breadcrumb breadcrumb">
                @*@{
                    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
                }
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a asp-controller="@controllerName" asp-action="Index">@controllerName</a></li>
                <li class="breadcrumb-item">@actionName</li>*@
            </ul>
        </div>
        @RenderBody()
        @*<div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body">

                        </div>
                    </div>
                </div>
            </div>*@
    </main>
    <!-- Essential javascripts for application to work-->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script type="text/javascript" src="~/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/chart.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>