@model PRMS.Models.Expance

@{
    ViewData["Title"] = "Details";
}
<div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <h2>Details</h2>

                    <div>
                        <h4>Expance</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Remarks)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ExpanceDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ExpanceDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ExpanceType)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ExpanceType)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.InventoryItemId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.InventoryItemId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CustomerId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CustomerId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.MonthYear)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.MonthYear)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UpdatedDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.UserIp)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UserIp)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsRemove)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsRemove)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CompanyId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CompanyId)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ExpanceId">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

